/*
	Knative colors
	Dark Blue: #0865ad
	Light Blue: #6695ca

*/

html,
body {
	height: 100%;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 40px;
	background-color: #fff;
}

#wrapper {
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	widows: 100%;
}

#page-header {
	padding: 0;
	margin: 20px;
}

#page-header-title {
	color: #999;
	font-size: 3em;
}

#page-header-image {
	border: 0;
}

#prime {
	margin: 30px;
	margin: auto;
	align-self: center;
	width: 463px;
	align-self: center;
}

#prime form {
	clear: both;
}

#calc-result{
	padding: 30px;
	font-size: 24px;
	color: #2271C9;
}

.badge-style {
	border-radius: 11%;
	width: 36px;
	height: 36px;
	padding: 8px;
	color: #2271C9;
	text-align: center;
	font: 32px Arial, sans-serif;
	position: relative;
	top: 15px;
	}

.blue-back {
	background: #2271C9; 
	color: white;
}

#motd {
	font-size: 17px;
  font-weight: bolder;
	clear: both;
	margin: auto;
	align-self: center;
	margin: 30px;
}

.prime-link {
	font-size: 25px;
	clear: both;
	margin: auto;
	align-self: center;
	margin: 20 0px;
}

#page-footer {
	widows: 80%;
	margin: 50px 0 0 0;
	color: #eee;
	font-weight: 400;
	padding: 0;
	margin: 1.2px;
	position: fixed;
	bottom: 0;
	font-size: 17px;
	width: 92%;
}

.input, .submit {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: 5px 5px 3px grey;
}

.input {
	border: 1px solid lightgray;
	width: 308px;
}

.submit {
    background-color: #efd135;
		border: 1px solid transparent;
}
